@import "./variables/variables.scss";

.card {
  display: flex;
  justify-content: center;
}
.profil {
  width: 20%;
  padding: 2%;
  margin: 90px auto;
  background-color: $color-background;
  border: 2px solid $color-secondary;
  opacity: 0.9;
}
.profil__informations {
  margin: auto;
}
.profil__username {
  text-align: center;
  color: $color-primary;
  font-size: 1.5em;
  font-weight: bold;
}

.profil__image {
  height: 120px;
  width: 120px;
  border: 2px solid $color-secondary;
  margin-left: 25%;
}
.image__button{
  margin-left: 35%;
  padding: 0.5em;
  border: 1px solid $color-secondary;
  border-radius: 1em;
  font-size: 1em;
  color: $color-secondary;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  a {
    text-decoration: none;
    color: $color-secondary;
    font-weight: bold;
  }

  &:hover {
    border: 1px solid $color-primary;
    background-color: #ffd7d7;
  }
}

.nav__title {
  color: $color-secondary;
  margin-top: 10px;
  margin-left: 25px;
  font-size: 1.5em;
  font-weight: bold;
}
.nav__texts {
  font-size: 1em;
  font-weight: bold;
  margin: 15px 40px 20px;
}

.nav__button {
  margin-left: 5px;
  padding: 1em;
  border: 1px solid $color-secondary;
  border-radius: 1em;
  font-size: 1em;
  color: $color-secondary;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  a {
    text-decoration: none;
    color: $color-secondary;
    font-weight: bold;
  }

  &:hover {
    border: 1px solid $color-primary;
    background-color: #ffd7d7;
  }
}

.member__date {
  font-size: 0.9em;
}

/*****************************************************************
 *********************    RESPONSIVE    **************************
 *****************************************************************/

@media screen and (max-width: 1450px) {
  .profil {
    width: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .profil {
    width: 35%;
  }
  .member__date {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .profil {
    width: 50%;
  }
  .nav__button{
    font-size: 0.9em;
  }
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
  }
  .profil {
    width: 35%;
  }
  .profil__informations {
    margin: auto;
  }
  .nav {
    margin-left: 5%;
  }
  .nav__title {
  margin-left: 25%;
  }
}

@media screen and (max-width: 400px) {
  .profil {
    width: 50%;
  }
  .profil__username {
    margin-right: 50px;
  }
  .profil__image {
  margin-left: 15%;
  }
  .image__button{
    margin-left: 25%;
  }
  .nav {
    margin-left: auto;
  }
  .nav__title {
    margin-left: 20%;
  }

  .nav__button {
    font-size: 0.9em;
  }
  .nav__texts {
    text-align: center;
  }
}
