.welcomeMessage {
  width: 100vw;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.toolsDescription {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 70px 0 30px 5px;
  font-size: 1.5em;
}

h2 {
  padding: 30px 0 30px;
  font-size: 1.2em;
  color: black;
  margin: auto;
}

.displayIconsInfo {
  width: 100vw;
  height: 50vh;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0;
}

#descriptionOfTheSite {
  margin: auto;
  width: 60vw;
}
#descriptionOfTheSite h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}

#descriptionOfTheSite p {
  color: black;
  text-align: center;
  font-weight: bold;
  line-height: 1.5em;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15vw;
  height: 20vh;
  background-color: white;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 5px 5px 5px #ffd7d7;
}

.iconContainer svg {
  width: 40px;
  height: 40px;
}

.iconContainer p {
  color: black;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
}

.postContainer {
  margin: auto;
  width: 70vw;
}

@media screen and (max-width: 700px) {
  .displayDescriptionOfTheSite h1 {
    font-size: 1.2em;
    padding: 48px 0 0 0;
  }
  .postContainer {
    width: 100%;
  }
  .displayDescriptionOfTheSite {
    width: 95%;
  }
  h2 {
    padding: 1em;
  }
}

@media screen and (max-width: 900px) {
  .toolsDescription h2 {
    text-align: center;
  }
  .displayIconsInfo {
    flex-direction: column;
    width: 200px;
    height: auto;
    align-items: center;
  }
  .iconContainer {
    width: 100%;
    height: 200px;
    border-radius: 0;
    margin: 50px;
  }
}
