.home_page_section_welcome {
  width: 100vw;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.home_page_section_tools {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.home_page_section_h1 {
  margin: 90px 0 40px 5px;
  font-size: 1.5em;
}

.home_page_section_tools_h2 {
  padding: 30px 0 60px;
  font-size: 1.2em;
  color: black;
  margin: auto;
}

.home_page_section_ul {
  width: 65vw;
  height: 50vh;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0;
}

.home_page_section_tools,
.home_page_section_welcome {
  margin: auto;
  width: 60vw;
}
.home_page_section_h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.home_page_section_p {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.home_page_section_li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 15%;
  height: 40%;
  background-color: white;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 5px 5px 5px #ffd7d7;
}

.home_page_section_li svg {
  width: 40px;
  height: 40px;
  margin: auto;
}

.home_page_section_li_p {
  color: black;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .home_page_section_h1 {
    font-size: 1.5em;
    padding: 48px 0 0 0;
  }
  .home_page_section_p {
    padding: 10px;
  }
  .home_page_section_h2 {
    padding: 1em;
  }
}

@media screen and (max-width: 900px) {
  .home_page_section_p {
    padding: 10px;
  }
  .home_page_section_h2 {
    text-align: center;
  }
  .home_page_section_ul {
    flex-direction: column;
    width: 200px;
    height: auto;
    align-items: center;
  }
  .home_page_section_li {
    width: 100%;
    height: 200px;
    border-radius: 0;
    margin: 50px;
  }
}
